
@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width:80% !important;
		background: #007bff;
		color: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left: 0% !important;
	}
}

.sidebar{
	width: 18%;
	background:#007bff;
	color: white;
	/*background-color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;; */
	height:90% !important;
	position: fixed;
	padding-top: 45px; 
	z-index: 99999999999999999999999;
}
.sidebar a{
	display: block;
	width:100%;
	padding: 10px 25px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.sidebar a:hover{
	background: #e2e2e2;
	color: rgb(64, 0, 64);
	/* font-size: 20px; */
	 text-decoration: none; 
}
.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}
.content{
	margin-left: 20%;
	margin-top: 10%;
}
.sidebar .crossBtn{
	position: absolute;
	top: 0.1%;
	cursor: pointer;
	right: 35px;
	font-size: 36px;
}
.pointer{
	cursor: pointer;
}



/*.sidebar-hidden .sidebar {
  display: none;
}

.sidebar-hidden .content {
  margin-left: 0;
}
*/


